
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h3>Escolha sua opção:</h3>
    <div class="row">
        <div class="col-sm-4">
            <a href="~/Computadores" class="list-group-item active">
                <h4 class="list-group-item-heading glyphicon glyphicon-pushpin"> Computadores</h4>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="~/Monitor" class="list-group-item active">
                <h4 class="list-group-item-heading glyphicon glyphicon-pushpin"> Monitor</h4>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="~/Departamento" class="list-group-item active">
                <h4 class="list-group-item-heading glyphicon glyphicon-pushpin"> Departamento</h4>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <br />
            <a href="~/Marca" class="list-group-item active">
                <h4 class="list-group-item-heading glyphicon glyphicon-pushpin"> Marca</h4>
            </a>
        </div>
        <div class="col-sm-4">
            <br />
            <a href="~/Processador" class="list-group-item active">
                <h4 class="list-group-item-heading glyphicon glyphicon-pushpin"> Processador</h4>
            </a>
        </div>
        <div class="col-sm-4">
            <br />
            <a href="~/Tipo" class="list-group-item active">
                <h4 class="list-group-item-heading glyphicon glyphicon-pushpin"> Tipo</h4>
            </a>
        </div>
    </div>
</div>