<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>On The Line</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="nav navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">OnTheLine</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
            </ul>
        </div>

    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="container">
        <hr/>
        OnTheLine Galery&reg;, Todos Direitos Reservados 
    </footer>
     <script src="~/scripts/jquery-1.9.1.min.js"></script>
     <script src="~/scripts/bootstrap.min.js"></script>
   
</body>
</html>
