
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListaCliente</title>
</head>
<body>
    <h2>View Lista Cliente</h2>
    <div> 
        Esta é a View do Controller Teste e do Método de Ação  Lista Cliente
    </div>
</body>
</html>
